**/target/*
*.tmp
/Viikko2/Verkkokauppa1/target/
/viikko5/MockitoDemo/target/
/viikko5/LyyrakorttiMockito/target/
/viikko5/Verkkokauppa4/target/
/viikko5/IntJoukkoSovellus/target/
/viikko5/Tennis/target/